[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
User=%I
ExecStart=/usr/bin/tmux new-session -s ts-%I -d $TMUX_CL_EXTEND
ExecStop=/usr/bin/tmux kill-session -t ts-%I
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
